html
  head
    title Angular 2 QuickStart
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    script(src="https://code.jquery.com/jquery-3.1.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/node_modules/core-js/client/shim.min.js")
    script(src="/node_modules/zone.js/dist/zone.js")
    script(src="/node_modules/reflect-metadata/Reflect.js")
    script(src="/node_modules/systemjs/dist/system.src.js")
    script(src="http://cdn.auth0.com/js/lock/10.0.0/lock.min.js")
    script(src="/javascripts/systemjs.config.js")
    base(href='/')                
  body
    App Loading...
