<div class="row">    
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Post Form <button class="btn btn-info" (click)="newPost()">Add New</button> <input type="hidden" [formControl]="myPost.txt_id" /></div>
            <div class="panel-body">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="col-lg-12 form-group">
                        <label>Title</label><br />
                        <input type="text" class="form-control" [formControl]="myPost.txt_title" placeholder="Title" />
                    </div>
                    <div class="col-lg-12 form-group">
                        <label>Text</label><br />
                        <textarea class="form-control" [formControl]="myPost.txt_post" rows="10"></textarea>
                    </div>
                    <div class="col-lg-12 form-group">
                        <button class="btn btn-default" type="submit" [disabled]="!myForm.valid">Submit</button>
                    </div>
                </form>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default" *ngFor="let item of postService.data">
        <div class="panel-heading"><strong>{{ item.title }} &nbsp; <button *ngIf="item._id" class="btn btn-warning pull-right" (click)="editClick(item._id)"><i class="glyphicon glyphicon-pencil"></i></button></strong></div>
        <div class="panel-body">
            {{ item.text }}
        </div>
        <div class="panel-footer">
                <a href="#">{{ item.created_by }}</a>
        </div>
    </div>
</div>

