<div class="row">    
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Post Form  <input type="hidden" [formControl]="myPost.txt_id" /><button class="btn btn-info col-md-offset-7" (click)="newPost()">Add New</button></div>
            <div class="panel-body">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="col-lg-12 form-group">
                        <label>Title</label><br />
                        <input type="text" class="form-control" [formControl]="myPost.txt_title" placeholder="Title" />
                    </div>
                    <div class="col-lg-12 form-group">
                        <label>Text</label><br />
                        <textarea class="form-control" [formControl]="myPost.txt_post" rows="8"></textarea>
                    </div>
                    <div class="col-lg-12 form-group">
                        <button class="btn btn-default" type="submit" [disabled]="!myForm.valid">Submit</button>
                    </div>
                </form>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default" *ngFor="let item of postService.data">
            <div class="panel-heading"><strong>{{ item.title | truncate:[50] }} </strong></div>
            <div class="panel-body">
                {{ item.text }}
            </div>
            <div class="panel-footer" align="right">
                <button *ngIf="item.$key" class="btn btn-warning" (click)="editClick(item.$key)"><i class="fa fa-edit"></i> edit</button> | <a href="#"> {{ item.created_at | date:'MMMM, d-y' }} | {{ item.created_by }}</a>
            </div>
        </div>
    </div>
</div>